
.login-nav{
    height: 60px;
    min-width: 100vw;
    background-image: linear-gradient(rgb(145, 28, 28), rgb(255, 184, 184));
    display: flex;
    justify-content: space-between;
    

}

.nav-button-container {
    display: flex;
    justify-content: flex-start;
    height:30px;
    margin-left: 100px;
    padding: 10px;
}

.nav-button-container input {
    font-size: 20px;
    background-image: linear-gradient(rgb(199, 199, 255), rgb(255, 255, 182));
    margin: px;
}


.logged-in  p {
    font-size: 30px;
}

.logged-in {
    height: 60px;
    min-width: 100vw;
    background-image: linear-gradient(rgb(255, 80, 80), rgb(255, 152, 152));

} 

.user-nav-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    

}

.user-nav-info img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
}

.prof-img:hover{
    height: 55px;
    width: 55px;
    

}

.nav-btns{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    margin-top: 15px;
}